<div class="courses">
  <div class="container">
    <% @courses.each do |course|%>
      <div class="course">
        <h2><%= course.title %></h2>
        <p><%= link_to "View Course", course_path(course) %></p>
      </div>
    <% end %>
  </div>
</div>
