<div class="quiz-show">
  <div class="container">
    <h2><%= @quiz.title %></h2>
    <div class="quiz-info">
      <p class="title">Quiz Info Here</p>
    </div>

    <% if can? :edit, Quiz %>
        <p class="quiz-edit">
          <%= link_to edit_quiz_path(@quiz), class: "btn btn-warning" do %>
              <i class="glyphicon glyphicon-edit"></i> Edit Quiz
          <% end %>
          <%= link_to quiz_path(@quiz),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-danger" do %>
              <i class="glyphicon glyphicon-remove-circle"></i> Delete Quiz
          <% end %>
        </p>
    <% else %>
      <%= link_to attempt_quiz_path(@quiz), class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-edit"></i> Attempt Quiz
      <% end %>
    <% end %>
  </div>
</div>
