<footer class="footer">
  <span>&copy; <%= Time.now.year  %> Heterogeneous Knowledge</span>
  <span><%= link_to 'About', about_path %></span>
  <span><%= link_to 'Contact', contact_path %></span>
  <span><%= link_to 'Imprint', '#' %></span>
</footer>