<h1>About</h1>
<p>Heterogeneous Knowledge follows one statement: <b>"knowledge for one; knowledge for all."</b></p>
<p>This application was created by a skillful set of students majoring in Computer Science, with the purpose of providing a toolset for professors in making test and assignment creation simplified.  The 